.logo{
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px; 
}
.logo:hover{
    color: red;
}
nav.myNav{
    border-bottom: 1px solid white;
}
div.searchDiv{
    background-color: rgb(56, 60, 64);
    margin: auto;
    min-width: 500px;
    width: 40%;
    height: 50%;
}